@use '../default/custom.scss';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: custom.$color-tertiary;
}

.main-side {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 60px auto;

    grid-template-areas:
        "sidebar header header"
        "sidebar main main";
}

header {
    grid-area: header;
}
.aside {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    align-self: start; /* penting agar tidak stretch penuh */
    height: max-content;
}
.content {
    grid-area: main;
}

/* logo L' Arbre Seho */
.logo-larbre {
    @include custom.flex-between;
    color: custom.$color-secondary;
    background-color: custom.$color-primary;
    padding: 0.5rem 1rem;

    h2 {
        font-size: 1.15rem;
    }
    
    img {
        width: 50px;
        height: auto;
        background-color: custom.$color-primary;
        border-radius: 4px;
    }
}

.icon {
    width: 24px;
}

/* side-bar */
.logo-sehub {
    background-color: custom.$color-secondary;
    
    img {
        width: 100%;
    }
}

.menu {
    @include custom.flex-align-center;
    justify-content: center;
    gap: 1rem;

    p {
        font-size: 1.5rem;
        font-weight: bolder;
        color: custom.$color-primary;
    }
}

.aside {
    background-color: custom.$color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.navigation {
    @include custom.flex-column;
    gap: 8rem;

    .nav {
        width: 100%;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        display: flex;
    }
    
    .active {
        background-color: custom.$color-tertiary;

        // .icon {
        //     color: custom.$color-secondary;
        // }
    }

    a {
        width: 100%;
        color: custom.$color-primary;
        @include custom.flex-align-center;
        gap: 1rem;
        padding: 0.5rem 2.5rem;
    }
}

a {
    text-decoration: none;
    font-weight: bolder;
}

.icon {
    width: 24px;
}

.companies-name {
    color: custom.$color-primary;
    text-align: center;
    font-size: 0.6rem;
}

/* main-side */
.hari-tgl {
    @include custom.flex-align-center;
    justify-content: end;
    padding-inline: 1rem;
    font-weight: bolder;
}

.content {
    padding: 1rem;
    border-radius: 12px;
    color: custom.$color-secondary;
}

/* product page */
.main-product, .main-inventory, .main-user, .main-distribution {
  position: relative;
}

.form-overlay, .checking-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2; /* sangat penting */
}

.product-display, .inventory-display, .main-distribution, .main-stock-adjustment {
  height: 73vh;
}

.product-display, .inventory-display, .main-distribution, .main-stock-adjustment, .main-laporan {
  background-color: custom.$color-primary;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

/* scroll */ 
.table-dashboard, .product-items, .inventory-items, .table-display { 
  /* opsional biar halus */
  scroll-behavior: smooth;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
}
