body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #1a4d1a, #4d774d, #c9c9c9);
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 3rem;
}

main {
    display: flex;
    justify-content: space-around;
}

/*  */
.intro {
    width: 65%;
    padding: 3rem 1rem 3rem 3rem;
}

.text {
    color: white;
}

.text h2 {
    font-size: 2.5rem;
}

.text h3 {
    font-size: 1.8rem;
}

.opsi {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1.5rem;
}

.opsi button {
    padding: 1.5rem 1rem;
    border: 1px solid rgb(154, 154, 154);
    font-size: 1.2rem;
    background-color: white;
    color: rgb(154, 154, 154);
}

/*  */
.review {
    width: 100%;
    padding: 0 3rem 0 2rem;
    color: white; 
}

.hari-tgl {
    text-align: end;
    padding-right: 1.5rem;
}

.hari-tgl p {
    font-size: 1.5rem;
}

.info-board {
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: 2px solid white;
    display: flex;
    gap: 2rem;
}

/* didalam info-board */
.main-info {
    width: 100%;
}

.main-info h3 {
    font-size: 1.5rem;
}

.main-product {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.main-product .text {
    display: flex;
    justify-content: space-between;
}

.volume {
    text-align: end;
}

.main-product .img-product {
    width: 400px;
    height: 250px;
    border-radius: 0.5rem;
    background-color: white;
    color: black; 
}

.main-product .img-product p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5.5rem;
}

/* didalam main-info */
.product-count {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    margin: 1rem 0;
}

.product-count div {
    display: flex;
    gap: 0.5rem;
}

/* didalam info-board*/
.other-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding: 0 0.5rem 0 0;
    overflow-y: scroll;
    height: 60vh;
}

/* khusus scroll */
.other-product::-webkit-scrollbar {
  width: 8px; /* ukuran batang */
}
.other-product::-webkit-scrollbar-track {
  background: transparent; /* track jadi transparan */
}

.other-product::-webkit-scrollbar-thumb {
  background: #ededed;   /* warna batang scroll */
  border-radius: 10px;   /* biar bulat */
}
/* khusus scroll */

.product {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.product .img-product {
    width: 150px;
    height: 100px;
    border-radius: 0.5rem;
    background-color: white;
    color: black; 
}

.product .text {
    display: flex;
    flex-direction: column;
}

.product .img-product p {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 2.5rem;
}

/*  */
.language-setting-button {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 1rem;
}

.languages-button {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.globe-icon {
    width: 45px;
    height: 45px;
    background-color: #1a4d1a;
    border-radius: 50%;
}

.languages-icon {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag {
    width: 40px;
    height: 40px;
    background-color: #1a4d1a;
    border-radius: 50%;
}
