body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins", sans-serif;
    color: #2B2B2B;
}

.main-side {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px auto;

    grid-template-areas:
        "sidebar header header"
        "sidebar main main";
}

header {
    grid-area: header;
}
.aside {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    align-self: start; /* penting agar tidak stretch penuh */
    height: max-content;
}
.content {
    grid-area: main;
}

.logo-sehub {
    background-color: #2B2B2B;
    
    img {
        width: 100%;
    }
}

.logo-larbre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #118800;
    padding-inline: 1rem;
    
    img {
        width: 50px;
        height: auto;
        background-color: white;
        border-radius: 4px;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
        font-size: 1.5rem;
        font-weight: bolder;
        color: white;
    }
}

/* img */
.menu img, .nav img {
    width: 20px;
}

.product img {
    width: 180px;
}

/* side-bar */
.aside {
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-block: 0.5rem;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
}

.companies-name {
    text-align: center;
    font-size: 0.8rem;
}

/* main-side */
.hari-tgl {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 1rem;
    font-weight: bolder;
}

.content {
    margin-top: 3rem;
    margin-inline: 1rem;
    height: 75vh;
    background-color: white;
    border-radius: 12px;
    color: #2B2B2B;
}

// option form
h3 {
    text-align: center;
    padding-block: 1rem;
    font-size: 1.5rem;
}

.option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    img {
        width: 300px;
        height: auto;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }
}

// base-setting
.setting {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
        "product-display other-setting";

    h4 {
        font-weight: bolder;
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    h5 {
        margin: 0;
    }

    p {
        font-size: 0.9rem;
    }
}

// gambar di form
.img-product {
    grid-area: img-product;
}
