@use '../default/custom.scss';

.notif-base {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 10;
  background-color: custom.$color-primary;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: custom.$color-secondary;
  padding-inline: 1rem;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.notif-delete {
  // display: none;
  height: 200px;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .buttons {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
  }
}