@use '../default/custom.scss';

.setting {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-display {
  padding: 1rem;
  background-color: custom.$color-primary;
  border-radius: 0 0 8px 8px;
}

.header-user-setting {
  padding: 1rem;

  .title {
    @include custom.flex-align-center;
    gap: 1rem;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.status-column, .password-column, .buttons-column {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.password-column {
  width: 100px;
  justify-content: space-between;
}

.user-setting, .main-master-data {
  min-height: 250px;
  background-color: custom.$color-primary;
  border-radius: 8px;
}

.master-data {
  padding: 1rem;

  form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

.main-data-setting{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-size: 0.9rem;

  button {
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
  }
}
