@use '../default/custom.scss';

.user-display {
  padding: 1rem;
  background-color: custom.$color-primary;
  border-radius: 0 0 8px 8px;
}

.header-user-setting {
  padding: 1rem;

  .title {
    @include custom.flex-align-center;
    gap: 1rem;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.status-column, .password-column, .buttons-column {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.password-column {
  width: 100px;
  justify-content: space-between;
}

.user-setting {
  height: 84vh;
  background-color: custom.$color-primary;
  border-radius: 8px;
}
