body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #118800;
    /* background: linear-gradient(90deg, #1a4d1a, #4d774d, #9cada0);
    background-size: cover; */
    font-family: "Poppins", sans-serif;
    color: white;
    display: grid;
}

header {
    height: 70px;
    display: flex;
}

.logo-sehub {
    background-color: #2B2B2B;
}

.logo-sehub img {
    /* width: 100%; */
    height: 100%;
}

.logo-larbre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    color: #2B2B2B;
    background-color: white;
    align-items: center;
}

.logo-larbre img {
    height: 50px;
}

.menu, .nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.menu img, .nav img {
    width: 20px;
}

main {
    display: flex;
    gap: 0.5rem;
}

.main-content {
    display: flex;
    gap: 5rem;
}

/* side-bar */
aside {
    width: 13.55%;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

aside nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.companies-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.companies-name p {
    font-size: 0.8rem;
}
