body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #118800;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;

    grid-template-areas:
        "sidebar header header"
        "sidebar main main"
        "sidebar main main";
}

header {
    grid-area: header;
}

.logo-sehub {
    background-color: #2B2B2B;
}

.logo-sehub img {
    width: 100%;
}

.logo-larbre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #2B2B2B;
    background-color: white;
    align-items: center;
}

.logo-larbre img {
    height: 50px;
}

.menu, .nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.menu img, .nav img {
    width: 20px;
}

/* side-bar */
aside {
    grid-area: sidebar;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

aside nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.companies-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies-name p {
    font-size: 0.8rem;
}

/* main-side */

main {
    grid-area: main;
}
