@use '../default/custom.scss';

/* form */
input, select {
  color: custom.$color-secondary;
  padding: 0 0.5rem;
  border: custom.$color-secondary 1px solid;
}

label {
  // padding-inline: 0.5rem;
  font-size: 0.8rem;
  font-weight: bolder;
}

.inputan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

/* form tambah atau edit produk */ 
.form-overlay {
  top: 0;
  right: 0;
  justify-content: flex-end; /* form muncul di kanan, sesuai contoh gambar */
  align-items: flex-start;
}

.form-product, .form-user {
  width: 300px;
  background-color: #FAFAFA;
  @include custom.flex-space-between;
  flex-direction: column;
  gap: 0.5rem;

  border: custom.$color-secondary 1px solid;
  border-radius: 8px;
  padding: 1rem;
}

.form-header {
  @include custom.flex-center;
  justify-content: space-between;
  padding-block: 0.5rem;

  div {
    @include custom.flex-center;
    gap: 0.5rem;
    font-weight: bolder;
  }

  .icon {
    width: 30px;
  }
}

.main-form {
  display: flex;
  flex-direction: column;

  input, select {   
    height: 30px;
    border-radius: 4px;
  }

  .button {
    @include custom.flex-center;
    margin: 2rem 0 0.8rem 0;
  }
}

.double-form {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1rem;
}

.form-product .main-form {
  gap: 2rem;
}

.form-user .main-form {
  gap: 1rem;
}
