@use '../default/custom.scss';

/* form */
input, select {
  color: custom.$color-secondary;
  padding: 0 0.5rem;
  border: custom.$color-secondary 1px solid;
}

label {
  padding-inline: 0.5rem;
}

.inputan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
