@use '../default/custom.scss';

.user-setting {
  background-color: #e4e3e3;
  border-radius: 8px;
}

.user-display {
  padding: 1rem;
}

.header-user-setting {
  padding: 1rem;

  .title {
    @include custom.flex-align-center;
    gap: 1rem;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.status-column, .password-column, .buttons-column {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.password-column {
  width: 100px;
  justify-content: space-between;
}

.other-setting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "headerSetting clearDataSetting"
    "languagesSetting clearDataSetting";
  gap: 1rem;
}

.other-setting-header {
  grid-area: headerSetting;
  @include custom.flex-align-center;
  gap: 1rem;
  padding-left: 1rem;
}

.languages-setting {
  grid-area: languagesSetting;
  background-color: #e4e3e3;
  padding: 1rem;
}
.clear-data-setting {
  grid-area: clearDataSetting;
}

.icon-languages {
  display: flex;
  gap: 2rem;
  height: 70px;

  img {
    width: 35px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
    }
  }
}

.language {
  @include custom.flex-column;
}

.btn-setting {
  @include custom.flex-between;

  button {
    width: 150px;
  }
}