/* tabel */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

td {
    color: white;
}

// tabel dashboard
.table-dashboard {
    border-radius: 12px 12px 0 0;
    overflow: hidden;

    thead {
        border-bottom: #118800 2px solid;
    }

    tbody {
        border: white 3px solid;
    }

    a {
        text-decoration: none;
        color: #118800;

        &:hover {
            color: white;
            padding: 0.2rem 0.5rem;
            background-color: #118800;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
        }
    }
}

.column-action {
    width: 100px;
}

/* Baris ganjil */
tbody tr:nth-child(odd) {
  background-color: #343434; /* misal abu gelap */
}

/* Baris genap */
tbody tr:nth-child(even) {
  background-color: #2B2B2B; /* sedikit lebih gelap */
}